.position {
	height: 260px;
}

.position img {
	height: 260px;
}

.position .image {
	float: left;
}

.info {
	margin-left: 20px;
	margin-right: 20px;
	width: 407px;
}

.company {
	margin-bottom: 10px;
}

h2, h3, p {
	margin-bottom: 0px;
	margin-top: 0px;
}

.boxshadow-container {
	margin-left: 0 !important;
	margin-bottom: 20px !important;
	width: 720px;
}

.flex-container {
	height: 260px;
}

.position .favicon {
	width: 25px;
	height: 25px;
}

.favicon + .favicon {
	margin-left: 10px;
}

@media only screen and (max-width: 768px) {
	.position {
		height: auto;
		width: 370px;
		overflow: hidden;
	}

	.position img {
		height: 300px;
	}

	.position .image {
		float: none;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.info {
		/*margin-left: 0px;*/
	}

	.flex-container {
		height: auto;
	}

	.boxshadow-container {
		width: 370px;
	}
}