.project {
	background-color: #041f23;
	padding: 20px;
	width: 250px;
}

.screenshot {
	max-width: 250px;
	height: 210px;
}

.content {
	max-width: 250px;
}

.desc {
	height: 60px;
	overflow: hidden;
}

.row div:hover {
	box-shadow: 5px 10px 18px black;
}

.favicon {
	width: 25px;
	height: 25px;
}

.favicon + .favicon {
	margin-left: 10px;
}