@import url('https://fonts.googleapis.com/css?family=Oxygen');

html {
	font-family: 'Oxygen', sans-serif;
	background-color: #333;
	color: #eee;
}

body {
	margin: 0 40px;
}

a {
	text-decoration: none;
	color: #eee;
}

a:hover {
	text-decoration: underline;
}

.header {
	height: 100vh;
}

.align-center {
	height: inherit;
	display: flex;
	align-items: center;
}

.project {
	border: 1px solid white;
	padding: 10px;
}

/* Setting up box model myself :) */

.row, .column {
	box-sizing: border-box;
}

.column {
	margin-bottom: 1.6%;
	position: relative;
	float: left;
}

.column + .column {
	margin-left: 1.6%;
}

.column-4 {
	width: 32.2666666667%;
}

/* project images */

.screenshot {
	max-width: 200px;
	border: 1px solid white;
}

.row div:hover {
	box-shadow: 5px 10px 18px black;
}

@media only screen and (max-width: 576px) {
	body {
		margin: 0 10px;
	}

	.column {
		margin-bottom: 0;
	}

	.column-4 {
		width: auto;
		float: none;
	}

	.column + .column {
		margin-left: 0;
	}
}